TeamWork/Service References/FileSharingService/FileSharing.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileSharing.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileSharing.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FileTransferRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransferRequest" nillable="true" type="tns:FileTransferRequest" />
  <xs:complexType name="FileTransferResponse">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransferResponse" nillable="true" type="tns:FileTransferResponse" />
  <xs:complexType name="ArrayOfFileDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDescription" type="tns:FileDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDescription" nillable="true" type="tns:ArrayOfFileDescription" />
  <xs:complexType name="FileDescription">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeBytes" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDescription" nillable="true" type="tns:FileDescription" />
</xs:schema>